[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
requests = "*"

[packages]
minio = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
rabbitmq = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
