[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
sanic = "*"
sanic-openapi = "*"
pytest-sanic = "*"

[requires]
python_version = "3.7"
